body {
  margin: 10;
  padding: 10;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.box {
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  padding: 15px 25px;
  border: 1px solid #e0e0e0;
}

#adivinar-numero {
  background: linear-gradient(135deg, #ff3f69 0%, #ef39ff 100%);
}

#juego-colores {
    background: linear-gradient(135deg, #145ce0 0%, #03a6e7 100%);

}

#saludo {
  background: linear-gradient(135deg, #fded08 0%, #ff9100 100%);
}





